.mensaje-banner {
    align-self: baseline;
    margin-left: 300px;
    color: #fff;
    font-size: 25px;
    width: 90%;
    max-width: 400px;
}
.max-width-auto{
    width: 90% !important;
    max-width: initial !important;
}
.mensaje-banner h2{
    font-size: 4rem;
    line-height: 65px;
    margin-bottom: 0px;
}
.mensaje-banner p{
    color: #caceda;    
}
.max-width-700{
    max-width: 700px;
}
.align-center {
    align-self: center;
}
.margin-left-220 {
    margin-left: 220px;
}
.flex.content-col-rever.only-text p{
    max-width: 1000px;
    text-align: justify;
}
.flex.content-col-rever.only-text a.btn{
    max-width: 600px;
}
.numero {
    background: #faba1a;
    width: 37px;
    color: #956e11;
    height: 37px;
    text-align: center;
    font-size: 27px;
    border-radius: 50%;
    margin-right: 20px;
}
.flex.tipoProyecto {
    align-items: center;
    justify-content: flex-start;
}
.flex.tipoProyecto{
    color: #7b8e9f;
    font-size: 25px;
    margin-bottom: 12px;
}
.subtitle{
    font-size: 30px;
    color: #29338a;
    margin-top: 0px;
    margin-bottom: 22px;
    line-height: 30px;
}
.flex.tipoProyecto p{
    margin: 0px;
}
.parrafo{
    font-size: 23px;
    color: #7b8e9f;
}
.imgDerecha{
    position: absolute;
    top: 0px;
    left: -180px;
}
.margin-left-700{
    margin-left: 700px;
}
.margin-0 h2, .margin-0 p{
    margin: 0px;
}
.margin-0 h2{
    margin-bottom: 14px;
}
h2.precio {
    margin: 17px 0px;
    margin-left: 145px;
    color: #7b8e9f !important;
}
.flex.btnFooter .btn{
    font-size: 20px;
    padding: 7px 20px;
    line-height: 20px;
}
a.btn.btn-outline {
    background: #fff;
    border: solid 2px #29338a;
    color: #29338a;
}
.margin-left-30{
    margin-top: 30px;
}
a.btn.naranja{
    color: #29338a;
}
h2.ttlContent .numero {
    width: 60px;
    height: 60px;
    font-size: 48px;
}
h2.ttlContent p{
    font-size: 46px;
    max-width: initial;
    color: #29338a;
    margin: 0px;
}
h2.flex.ttlContent {
    align-items: center;
}

.videos h1{
    color: #29338a;
}
.flex.fullCenter.videoCont {
    flex-flow: column;
}
.contentVideos {
    width: 90%;
    margin: 0px auto;
    max-width: 1133px;
    padding: 0px;
}
.contentVideos a{
    position: relative;
}
.contentVideos a > h2{
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 280px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    left: 0px;
}
.videos h1 {
    color: #29338a;
    font-size: 3rem;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    line-height: 37px;
    margin-bottom: 42px;
}
form.flex{
    flex-flow: column;
}
.formulario {
    width: 90%;
    margin: 0px auto;
    max-width: 800px;
}
.formulario h2 {
    font-size: 4rem;
    margin-bottom: 0px;
    font-family: "LatoMedium";
}
.formulario h1{
    font-size: 23px;
    margin-bottom: 38px;
    font-weight: 100;
}
input[type="text"] {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 24px;
    height: 45px;
    width: 480px;
    margin-bottom: 10px;
    font-size: 21px;
    padding-left: 46px;
    color: #1a2042;
    outline: 0px;
}
input[type="submit"]{
    background: #ffbb22;
    border: none;
    width: 144px;
    height: 50px;
    margin: 0px auto;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 50px;
    outline: 0px;
}
@media screen and (max-width: 1380px)  {
    .max-width-700 {
        max-width: 500px;
    }
    .margin-left-220 {
        margin-left: 120px;
    }
    .imgDerecha{
        width: 600px;
    }
    .margin-left-220 {
        margin-left: 80px;
    }
    .margin-left-700 {
        margin-left: 480px;
    }
}
@media screen and (max-width: 1300px)  {
    .formulario{
        margin-top: 30px;
    }
    div.content-col h2, div.content-col-rever h2{
        margin-bottom: 0px;
    }
    .formulario h2 {
        font-size: 3.4rem;
    }

    .formulario h1 {
        font-size: 18px;
    }
    .max-width-700 {
        max-width: 500px;
        margin-left: 60px;
    }
}
@media screen and (max-width: 1180px)  {
    .imgDerecha{
        display: none;
    }
    .margin-left-700 {
        margin-left: 80px;
    }
}
@media screen and (max-width: 1080px)  {
    input[type="text"] {
        width: 240px;
    }
    .mensaje-banner {
        margin-left: 30px;
        font-size: 19px;
    }
    .mensaje-banner h2 {
        font-size: 3rem;
        line-height: 48px;
    }
    .max-width-700 {
        width: 100%;
    }
    .margin-left-220 {
        margin-left: 20px;
    }
    .flex.content-col-rever, .flex.content-col{
        padding: 42px 0px;
    }
    .flex.content-col-rever.only-text p{
        width: 90%;
    }
    .btn {
        font-size: 17px;
    }
    .orderResponsive-2{
        order: 2;
    }
    h2.precio {
        margin-left: 0px;
    }
    .flex.btnFooter {
        flex-flow: column;
    }
}
@media screen and (max-width: 680px)  {
    .max-width-700 {
        max-width: 300px;
        margin-left: 1px;
    }
    .flex.tipoProyecto p {
        margin: 0px;
        font-size: 18px;
    }
    .subtitle {
        font-size: 22px;
        margin-bottom: 31px;
        line-height: 26px;
    }
    .flex.tipoProyecto {
        margin-bottom: 45px;
    }
    .parrafo {
        font-size: 17px;
        width: 90%;
    }
    .margin-left-700 {
        margin-left: 36px;
    }
    .numero {
        margin-right: 9px;
    }
    .btn {
        max-width: 81%;
    }
}