@font-face{
    font-family: "AllerBd2";
    src: url("../fonts/Aller_Bd2.ttf");
}
@font-face{
    font-family: "AllerBd";
    src: url("../fonts/Aller_Bd.ttf");
}
@font-face{
    font-family: "AllerRg";
    src: url("../fonts/Aller_Rg.ttf");
}
@font-face{
    font-family: "DosisRegular";
    src: url("../fonts/Dosis-Regular.ttf");
}
@font-face{
    font-family: "DosisSemiBold";
    src: url("../fonts/Dosis-SemiBold.ttf");
}
@font-face{
    font-family: "LatoMedium";
    src: url("../fonts/Lato-Medium.ttf");
}
.cd-stretchy-nav{
    display:none;
}
*{
    font-family: "DosisRegular";
}
b{
     font-family: "AllerBd2";
}
html, body{
    overflow-x: hidden !important;
    background: #fff;
}
.align-end{
    align-self: flex-end;
}
.align-start{
    align-self: flex-start;
}
.flex{
    display: flex;
}
.fullCenter{
    justify-content: center;
    align-items: center;
}
.col1{
    flex:1;
}
.col2{
    flex:2;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.gris{
    background: #fafafa;
}
.naranja{
    background: #fcbc1c !important;
}
.azul{
    background: #182337;
}
.azulDestacado{
    background: #141d2c;
}
.margin-left-80 {
    margin-left: 80px;
}
.padding-right-60{
    padding-right: 60px;
}
.padding-left-90{
    padding-left: 90px;
}
.height-86{
    max-height: 86vh;
}
.height-100{
    height: 100%;
}
/* Styles */
div.menuContenedor {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    z-index: 999;
    background: #1a2042;
    justify-content: space-between;
}
div.menuContenedor img{
    width: 137px;
    margin-left: 86px;
}
ul.flex.menu a{
    color: #fff;
    font-family: "DosisRegular";
    font-size: 20px;
    max-width: 135px;
    height: 44px;
    border-right: solid 2px rgba(66, 86, 175, 0.3);
    padding-right: 19px;
    margin-right: 19px;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.flex.menu li.active a{
    color: #ffbb22;
}
ul.flex.menu li:nth-child(5) a{
    margin-right: 0px;
    padding-right: 0px;
    border: none;
}

.flex.redesSociales {
    width: 116px;
    justify-content: space-between;
    margin-right: 86px;
    margin-left: 86px;
}

.flex.redesSociales i {
    color: #4459a8;
    font-size: 20px;
    border: solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex.fullCenter.contentSectionBanner {
    background: url(../img/banner.jpg) center;
    flex-flow: column;
    background-size: cover;
    height: 100%;
    position: relative;
}
div.descripcion{
    align-self: flex-end;
    margin-right: 110px;
    margin-top: 50px;
    margin-bottom: -60px;
    color: #fff;
    width: 100%;
    max-width: 400px;
    font-size: 29px;
    text-align: right;
    border-right: dashed 3px;
    padding-right: 25px;
}
div.descripcion h2, div.descripcion p{
    margin: 0px;
}
a.flecha{
    position: absolute;
    width: 100%;
    z-index: 9999;
    text-align: center;
    bottom: 60px;
}
a.flecha>i{
    font-size: 30px;
    color: #fff;
    border: solid 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 39px;
}
div.content-col h2, div.content-col-rever h2{
    color: #29338a;
    font-size: 45px;
    line-height: 47px;
}
div.content-col h1{
    width: 100%;
    max-width: 500px;
    font-size: 23px;
    border-left: dashed 3px #e4e2ed;
    padding-left: 40px;
    z-index: 999999;
    color: #7b8e9f;
}

img.bordeSection {
    position: absolute;
    bottom: -100px;
    right: -440px;
    height: auto;
    z-index: 99999;
}

div.content-col div.col2.flex{
    flex-flow: column;
    justify-content: center;
}

i.flechaArrow{
    font-size: 37px;
    color: #e4e2ed;
    margin-left: 50px;
    margin-top: 40px;
    border: solid 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
}

.flex.content-col-rever {
    align-items: center;
}

div.content-col-rever p{
    width: 100%;
    max-width: 500px;
    font-size: 24px;
    color: #7b8e9f;
}

a.centrado{
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
}
div.naranja p{
    color: #29338a;
    max-width: 660px;
}
div.destacado {
    position: relative;
    max-width: 570px;
    margin-left: 62px;
    margin-top: 70px;
    margin-bottom: 90px;
}

div.naranja .flex.content-col-rever{
    height: 100%;
}
div.naranja .flex.content-col-rever img{
    margin-bottom: -4px;
}
div.bordeIcono {
    position: absolute;
    background: #29338a;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    top: -31px;
    left: -63px;
}

div.bordeIcono img{
    width: 54px;
}
div.borderSombreado {
    background: #ffeabb;
    border-radius: 50px;
    border: solid 1px;
    color: #29338a;
}
div.borderSombreado h3{
    font-size: 24px;
    margin-left: 46px;
}
div.borderSombreado h3:nth-child(1){
    margin-bottom: 0px;
}
div.borderSombreado h3:nth-child(2){
    margin-top: 0px;
}
.btn{
    background: #29338a;
    color: #fff;
    padding: 14px 38px;
    font-size: 25px;
    border-radius: 60px;
    margin: 0px auto;
    margin-top: 30px;
    display: block;
    max-width: 300px;
    text-align: center;
}

.footer{
    padding: 50px 0;
}
.vectorial.azulDestacado {
    text-align: center;
    padding: 16px;
}
.flex.contentFooter {
    color: #7b889b;
    font-size: 21px;
    align-items: center;
    min-height: 320px;
    max-width: 1300px;
    margin: 0px auto;
    justify-content: space-between;
}

div.flex.menuFooter> .col1{
    border-right: solid 2px #252d5b;
}

div.flex.menuFooter> .col1:nth-child(3){
    border-right: none;
}

div.flex.contentFooter h3{
    margin-left: 37px;
    color: #4267ad;
}
.flex.contentFooter > .col1{
    text-align: right;
}

.flex.contentFooter > .col2 li{
    margin-bottom: 13px;
}

a.anclaFoot{
    position: absolute;
    bottom: 75px;
    right: 167px;
    width: 60px;
}
a.anclaFoot i.flechaArrow {
    color: #4267ad;
    line-height: 33px;
}
.fp-section {
    min-height: 700px;
}
.fp-auto-height{
    min-height: auto;
}
.flex.contentFooter img{
    margin-right: 40px;
}
/* Responsive */
@media screen and (max-width: 1230px)  {
    .flex.fullCenter.contentSectionBanner img{
        width: 80%;
        max-width: 500px;
    }
    div.bordeIcono img {
        width: 34px;
    }
    div.bordeIcono {
        height: 60px;
        width: 60px;
        top: -19px;
        left: -20px;
    }
    div.content-col h1, div.content-col-rever p {
        font-size: 19px;
    }
    div.descripcion {
        margin-right: 10px;
        max-width: 270px;
        font-size: 20px;
        text-align: right;
        border-right: dashed 2px;
        margin-bottom: 0px;
        padding-right: 12px;
    }
    div.content-col h2, div.content-col-rever h2 {
        font-size: 27px;
        line-height: 28px;
    }
    .height-86 {
        max-width: 600px;
    }
}

@media screen and (max-width: 1170px)  {
    ul.flex.menu {
        display: none;
    }
    .cd-stretchy-nav{
        display:block;
    }
    .margin-left-80 {
        margin-left: 20px;
    }
    .height-86 {
        max-width: 300px;
    }
    .flex.content-col {

    
        margin-top: 0px;
    }
}
@media screen and (max-width: 1030px)  {
    .flex.menuFooter {
        flex-flow: column;
    }
}
@media screen and (max-width: 930px)  {
    img.bordeSection{
        display: none;
    }
    .flex.content-col-rever, .flex.content-col{
        flex-flow: column;
        justify-content: center;
        align-items: center !important;
    }
 
}
@media screen and (max-width: 530px)  {
    div.content-col h1 {
        max-width: 255px;
        padding-left: 17px;
    }
    div.menuContenedor img {
        width: 112px;
        margin-left: 10px;
    }
    div.content-col-rever p {
        max-width: 260px;
    }
    div.content-col div.col2.flex a{
        text-align: center;
    }
    .padding-left-90 {
        padding-left: 20px;
    }
    i.flechaArrow {
        font-size: 32px;
        margin-left: 0px;
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
        line-height: 33px;
    }
    a.centrado{
        bottom: -18px;
    }
    div.borderSombreado h3 {
        font-size: 14px;
        margin-left: 29px;
    }
    div.bordeIcono {
        top: -28px;
        left: -26px;
    }
    .btn {
        padding: 6px 34px;
        font-size: 19px;
        max-width: 130px;
        line-height: 18px;
    }
    .flex.contentFooter {
        flex-flow: column;
    }
    div.flex.contentFooter h3 {
        font-size: 20px;
    }
    .flex.redesSociales{
        margin-top: -27px;
        padding-right: 18px;
    }
    div.destacado {
        max-width: 270px;
        margin-left: 0px;
    }
    .flex.contentFooter > .col2 li {
        font-size: 19px;
    }
    .flex.contentFooter img {
        margin-right: 0px;
        width: 80%;
        max-width: 200px;
    }
    a.anclaFoot {
        bottom: 88px;
        right: 7px;
    }
    a.anclaFoot i.flechaArrow {
        line-height: 27px;
    }
    .padding-right-60 {
        padding-right: 0px;
    }
}